body {
	// background-color: silver;
	font-family: Segoe UI;
	font-size: small;
}

h2 {
	text-align: center;
	padding: 5px;
	margin: 5px;
	margin-top: 20px;
	background-color: lime;
}

/*
h3 {
	background-color: lightblue;
	padding: 5px;	
	font-weight: normal;
}
*/

.sidebar {	
	float: left;
	width: 10%;
}

.multiview {
	float: left;
	width: 90%;
}

tr {
	// border: 4px groove lightgray;
	border: 1px solid black;
}

td {
	padding: 2px 5px 2px 5px;
}

th {
	text-transform: uppercase;
	text-align: center;
}

h3 {
	background-color: lightblue;
	font-weight: normal;
	font-size: medium;
	border: 1px solid blue;
	padding: 2px 5px 2px 5px;
	overflow: hidden;
}
	
legend {
	border: 1px solid black;
	color: blue;
	font-weight: bold;
	padding: 2px 5px 2px 5px;
	margin-bottom: 10px;
}

fieldset {
	margin: 10px 5px 10px 5px;
	border: 2px groove lightgray;
	float: left;
}

.content {
	float: left;
}